@charset "utf-8";

.container {
    width: 1000px;
    height: 80%;
    margin-inline: auto;
    border-radius: 10px;
}

.grid-center {
    display: grid;
    place-items: center;
}

.hide {
    display: none;
}

body {
    font-family: "Share Tech Mono", monospace;
    background: #181725;
    color: #fff;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px) saturate(120%);
    background: url(../media/background.jpg) center center / cover no-repeat;
}

main { 
    height: 100svh;
    width: 100%;
}

div {
    position: relative;
}

.title {
    font-family: "VT323", monospace;

    h1 {
        font-size: 80px;
        text-align: center;
        position: fixed;
        top: 2%;
        left: 2%;
        pointer-events: none;
    }
    
    .red {
        top: 15px;
        left: 15px;
        color: rgb(255, 0, 0, 0.8);
    }
    
    .green {
        top: 20px;
        left: 20px;
        color: rgba(0, 255, 0, 0.8);
    }
    
    .blue {
        top: 25px;
        left: 25px;
        color: rgb(0, 0, 255, 0.8);
    }
}

.match {
    color: #32cd32
}

a {
    font-family: "VT323", monospace;
    font-size: 80px;
    position: fixed;
    bottom: 10%;
    right: 2%;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    color: #fff;
}

h2 {
    font-variant: tabular-nums;
}

.word {
    text-align: center;
    line-height: 120px;
    position: absolute;
    height: 120px;
    width: 550px;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
    border-radius: 10px;
    border: 1px solid rgb(255 255 255 / 8%);
    background-color: #6dea6d6d;

}

.time, .score { /*Couldn't figure out how to keep these from moving*/
    position: absolute;
    font-size: 40px;
    font-variant: tabular-nums;
    text-align: left;
}

.time {
    bottom: 350px;
    left: 50%;
    transform: translateX(-50%);
}

.score {
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
}  

input {
    text-align: center;
    font-size: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 120px;
    padding-inline: 20px;
    border-radius: 10px;
    line-height: 100px;
    height: 100px;
    width: 500px;
    border: 1px solid rgb(255 255 255 / 8%);
    background-color: rgba(0, 0, 0, 0.64);
    color: #fff;
}